Python - Introduction
===================


**by Jousef Murad** - if you have any questions or feedback feel free to message me.

-----

**Hints**

- With the `help(expression)`you can easily see information about a specific expression
- The cells indicated with `In []:` can be used to type commands inside - to execute a cell you execute `CTRL+ENTER`. Holding `SHIFT+ENTER` the code will be executed and the next cell will be selected.

In [1]:
print("Hello Mars")

Hello Mars

- It is possible to write more than one line into a cell and execute a batch of code

In [2]:
a = 5
b = 100
a + b

105

-------

Exercise 1 - Arithmetic Operators and Expressions
===================

**(a)** Compare the output between `1.0 + 1e-16 + 1e-16` and `1e-16 + 1e-16 + 1.0`

In [4]:
1.0 + 1e-16 + 1e-16

1.0

In [6]:
1e-16 + 1e-16 + 1.0

1.0000000000000002

What can you conclude from the order of evaluation?

------

<font color="DodgerBlue">Sums are calculated from left to right. How do we know that? The first representable number bigger than $1.0$ is $1.0+\epsilon$. In this case $\epsilon \approx 2.2\cdot 10^{-16}$ is the relative machine precision. Adding a smaller number than $\epsilon/2$ to $1.0$, for instance $1.0\cdot 10^{-16}$ causes the result to be rounded to $1.0$. For this reason the first addition $1.0 + 1.0\cdot 10^{-16}$ becomes $1.0$ in the first example - same as the second one. In the second example the first addition yields $1.0\cdot 10^{-16} + 1.0\cdot 10^{-16}$ a number that is bigger than $\epsilon/2$. For this reason the following addition with $1.0$ will be rounded to the next bigger number, namely $1.0+\epsilon$.</font><br>

**(b)** Given `7 * 2 ** 3 * 3 + 5 * 8 / 2 ** 2 - 32.1 // 8 + 10 % 3 * 2`

What do the operators `+, -, *, /, //, %` and `**` mean and in which order are they applied?

In [8]:
7 * 2 ** 3 * 3 + 5 * 8 / 2 ** 2 - 32.1 // 8 + 10 % 3 * 2

176.0

<font color="DodgerBlue">

`+`       | `-`         | `*`            | `/`      | `//`           | `%`     | `**`
:-------: | :---------: | :------------: | :------: | :------------: | :-----: | :----------:
Addition  | Subtraction | Multiplication | Division | Floor Division | Modulo  | Exponentiate

Hint: Floor Division means division with rounding (round down).
Order: Brackets before exponentiate before multiplication before subtraction/addition where the modulo operator counts as a multiplication/division operation.
</font><br>

--------------

Put brackets around the expression so that the order of operations becomes clear.

In [9]:
((7 * (2 ** 3)) * 3) + ((5 * 8) / (2 ** 2)) - (32.1 // 8) + ((10 % 3) * 2)

176.0

----------------

Exercise 2 - Data Types
===================

**(a)** Every instance `inst` holds a data type, which can be investigated with `type(inst)`. Example: `type(1)`will generate the output `<class 'int'>`

**(i)** Have a look at the output for `type`for the parameters `2.0, 1+3, 1+3.0, "1", True, [1,2,3], {1:100, 2:200}, {1,2,3}` as well as `print`

In [10]:
type(1.0)

float

In [12]:
type(1+3)

int

In [13]:
type(1+3.0)

float

In [14]:
type("1")

str

In [15]:
type(True)

bool

In [16]:
type([1,2,3])

list

In [17]:
type({1:100,2:200})

dict

In [18]:
type({1,2,3})

set

In [19]:
type(print)

builtin_function_or_method

--------

**(ii)** Interpret the different outputs: `1+5, 1+5.0, "1"+"5", 1+"5", 1+True` and `1+False`

In [20]:
1+5 # Addition of two integers yields an integer

6

In [21]:
1+5.0 # Addition of an integer and float yields a float

6.0

In [22]:
"1"+"5" # Concatenation of two strings

'15'

In [23]:
1+"3" # Exception because an integer and string cannot be added - type conversion necessary

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
1+True # True is always interpreted as 1 (intuitive, right?)

2

In [26]:
1+False # And False is interpreted as 0

1

-------

**(iii)** You can convert instances to `integer` or `floats`using `int`, `float`and `str`.

Extend the expressions from **(ii)** except `1+True`and `1+False`so that the output yields `6`, `6.0` and `15`.

In [27]:
1+3

4

In [28]:
1+5.0

6.0

In [31]:
int("1"+"5") # yields 15
int("1")+int("5") # yields 6

6

In [33]:
1+int("5") # yields 6
int(str(1) + "5") # yields 15

15

In [34]:
1+True

2

In [35]:
1+False

1

----------------

Exercise 3 - print & input
===================

**(a)** The function `print` enables users to print values to the screen. You can submit more than more value by seperating them by commas.

In [36]:
print("I am", 27, "years old")

I am 27 years old

Familiarize yourself with the `print` function. Try to print `strings`, `floats`, `integers` and `lists`.

In [41]:
print("Hi")

Hi

In [43]:
print(2.0)

2.0

In [44]:
print(1)

1

In [46]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**(b)** Execute the following lines. What meaning do the expressions behind `sep`and `end`have?

In [37]:
print("Hey", "there", "I", "am", 7, "years", "old", sep="***")

Hey***there***I***am***7***years***old

In [38]:
print("Python rules!", end="")

Python rules!

In [39]:
print("I prefer", "to have my own", "line!", sep="-", end="end")

I prefer-to have my own-line!end

------

**(c)** The built-in function `input` allows user input. Hint: `input` can take a string as a parameter with the prompt!

Try to read the `input` from a user asking for his birthday and reference it with `birthday`. After that use the `print` function to print the user's birthday.

Also print out the `type`of the birthday. In addition to that print the year of birthday and add `100` to it.

In [48]:
birthday = input("Your birthday:")
print(type(birthday))
print(int(birthday) + 100)

Your birthday:1991
<class 'str'>
2091

----------------

Exercise 4 - Comparison Operators
===================

With `<`, `>`, `<=`, `>=`, `==` and `!=` you can compare instances with their values.

Investigate the behavior from `==` and `<` for all combinations from `1`, `1.0`, `2.0`, `"1"` and `"2"` only comparing two objects at a time.

Is there anything that catches your attention?

<font color="DodgerBlue">
1. `==` checks vor equality of values, not equality of objects (that is the reason there is no distinction between `int` and `float`).
2. `<` can only be used between two objects fulfilling a common order relation meaning that integer and string cannot be compared with `<`.
</font><br>


Test the behavior of `<` for more strings. Also take into account the use of small and capital letters.

In [49]:
print("B" < "b")
print("a" < "b")

True
True

In which cases is `String1 < String2` equal to `True`?

<font color="DodgerBlue">
If `String1` appears before before `String2` in the alphabetical order! Capital letters will always be "smaller" than their related lowercase (See: ASCII-table).
</font><br>

----------------

Exercise 5 - Control structures, Data Types `str` and `list`
===================

**(a)** Create a reference `s` to the string "Elon is numero uno". You can access the `i-th` sign of `s` using `s[i]` with $i \in \{0,\dots , \text{len(s)} − 1\}$

In [51]:
s = "Elon is numero uno"
s[3]

'n'

**(i)** Create a `for`-loop that will print every `s`sign. Hint: Inform yourself about the `range` function.

In [53]:
for i in range(len(s)):
    print(s[i])

E
l
o
n

i
s

n
u
m
e
r
o

u
n
o

**(ii)** Print the position of whitespaces from `s` using a `for`-loop.

In [54]:
for i in range(len(s)):
    if s[i] == " ":
        print(i)

4
7
14

**(iii)** Print the position of whitespaces from `s` in reverse order using a proper `for`-loop.

In [55]:
for i in range(len(s)-1, -1, -1):
    if s[i] == " ":
        print(i)

# oder:
for i in range(len(s)):
    if s[len(s)-1-i] == " ":
        print(len(s)-1-i)

14
7
4
14
7
4

**(iv)** The methods `find`and `rfind` from the data type `str` allow you to search inside of a string. Use `rfind` and a `while`-loop in order to print the positions of whitespaces in reverse order.

In [56]:
i = s.rfind(" ")
while i != -1:
    print(i)
    i = s.rfind(" ", 0, i)

14
7
4

**(b)** Create a reference on `lst` with `lst = list(s)` containing the letters from the string `s`.

In [57]:
lst = list(s)
lst

['E',
 'l',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'n',
 'u',
 'm',
 'e',
 'r',
 'o',
 ' ',
 'u',
 'n',
 'o']

**(i)** With the operator `in` you can check if a list contains a specific value.

Create a small program that checks if `s` contains letters of the alphabet checking every letter separately. The alphabet is given below.

In [59]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

for b in alphabet:
    if b in lst or b.upper() in lst:
        print(b, "is in s")

e is in s
i is in s
l is in s
m is in s
n is in s
o is in s
r is in s
s is in s
u is in s

**(ii)** You can delete the `i-th`element from the list using `del lst[i]`. Use this knowledge to remove all whitespaces from the list.

In [61]:
for i in range(len(lst)):
    if i < len(lst) and lst[i] == " ":
        del lst[i]

**(iii)** Solve the problem from **(ii)** using a `while`-loop.

In [64]:
lst = list(s)
i = 0
while i < len(lst):
    if lst[i] == " ":
        del lst[i]
    else:
        i += 1
lst

['E', 'l', 'o', 'n', 'i', 's', 'n', 'u', 'm', 'e', 'r', 'o', 'u', 'n', 'o']